
<html lang="en" ng-app="recorder">
	<head>
		<meta charset="utf-8">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
		<script src="../js/flac.js"></script>
	</head>
	<body ng-controller="RecorderController">
			</div>
			<div class="row">
				<div class="span12 text-center" ng-show="recording">
					<span class="label label-important">Recording...</label>
				</div>
			</div>
			<div class="row">
				<div class="offset3 span6">
					<h4>Download as</h4>
					<input type="radio" name="format" ng-click="recordaswave(false);" value="flac" checked>FLAC-file</input>
					</div>
        </div>
		</div>
	</body>
</html>
