<header class="row">
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <!-- Search and links get grouped for mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Moody</a>
      </div>

      <!-- Collect the nav links and forms for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if loggedIn %}
            <li><a href="/search"><span class="glyphicon glyphicon-user"></span>{{req.session.user.first_name}}  Account</a></li>
            <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
            <li><a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
          </ul>
      </div><!-- navbar-collapse -->

    </div>
  </nav>
</header>
