{% extends "_base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div id="wrap">
  <div class="container-fluid clear-top" id="main">
    <div class="row">
      <div class="col-md-9">
        {% if player %}
          {% include "youtubePlayer.html" %}
        {% else %}
          {% include "carousel.html" %}
        {% endif %}
      </div>
      <div class="col-md-3">
        {% include "speechRecog.html" %}
      </div>
    </div>
      <div class="row">
        <div class="col-md-9">
          <h1>{{message}}</h1>
          <h2>If you don't like the music, change your tone.</h2>
          <div class="linkDiv" id="linkDiv"></div>
          <button type="submit" class="btn btn-warning" id="speechSubmit">Analyze Speech!</button>
          {% include "addSong.html" %}
        </div>
      </div>
    </div>
</div>
  {% include "footer.html" %}
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="/js/speechRecog.js"></script>
  <script type="text/javascript" src="/js/return-recording.js"></script>
  <script src="../js/addSongToUser.js"></script>
{% endblock %}
