{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" method="POST" action="/login" id="loginUser">
        <div class="form-group row">
          <div class="row">
            <label for="user_name" name="user_name" class="col-xs-2 col-form-label"><h3>Username</h3></label>
          </div>
          <div class="row">
            <input class="form-control" type="text" placeholder="MadEyeMoody" id="loginUsername" name="user_name" autofocus>
          </div>
        </div>
      <div class="form-group row">
        <div class="row">
          <label for="password" class="col-xs-2 col-form-label"><h3>Password</h3></label>
        </div>
        <div class="row">
            <input class="form-control" type="password" placeholder="Password" id="loginPassword" name="password">
        </div>
        {% if message %}
          {{message}}
        {% endif %}
      </div>
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-default login">Login</button>
      </div>
    </form>
  </div>
</div>
<footer class='footer footer-custom text-center'>
  Moody Music
    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016
  </nav>
</footer>
{% endblock %}
