{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% if message %}
  {{message}}
{% endif %}

<form class="form-horizontal" method="POST" action="/signup" id="addUser">
    <div class="col-md-6 col-md-offset-3">
      <div class="row form-group row">
        <div class="row">
          <label name="first_name" class="col-form-label">First Name</label>
        </div>
        <div class="row">
          <input class="form-control" name="first_name" type="text" placeholder="First Name" id="example-text-input" autofocus>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <label name="last_name" class="col-form-label">Last Name</label>
        </div>
        <div class="row">
          <input class="form-control" type="text" name="last_name" placeholder="Last Name" id="example-text-input">
        </div>
      </div>
      <div class="row form-group row">
        <div class="row">
          <label name="email"  class="col-form-label">Email</label>
        </div>
        <div class="row">
          <input class="form-control" name="email" type="email" placeholder="example@gmail.com" id="example-text-input">
        </div>
      </div>
      <div class="row form-group row">
        <div class="row">

        </div>
        <div class="row">

        </div>
      </div>
      <div class="row form-group row">
        <div class="row">
          <label name="userName" class="col-form-label">Username</label>
        </div>
        <div class="row">
          <input class="form-control" name="user_name" type="text" placeholder="MadEyeMoody" id="loginUsername">
        </div>
      </div>
      <div class="row form-group row">
        <div class="row">
          <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="row">
          <input class="form-control" name="password" type="password" placeholder="Password" id="example-text-input">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-8">
          <button type="submit" class="btn btn-success btn-md addUser">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<footer class='footer footer-custom text-center'>
  Moody Music
    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016
  </nav>
</footer>
{% endblock %}
