{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% if message %}
  {{message}}
{% endif %}
<form class="form-horizontal" method="POST" action="/signup" id="addUser">
  <div class="form-group row">
    <label name="first_name" class="col-xs-2 col-form-label">First Name</label>
    <div class="col-xs-10">
      <input class="form-control" name="first_name" type="text" placeholder="First Name" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label name="last_name" class="col-xs-2 col-form-label">Last Name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" name="last_name" placeholder="Last Name" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label name="email"  class="col-xs-2 col-form-label">Email</label>
    <div class="col-xs-10">
      <input class="form-control" name="email" type="email" placeholder="example@gmail.com" id="example-text-input">
    </div>
  </div>
  </div>
  <div class="form-group row">
    <label name="userName" class="col-xs-2 col-form-label">Username</label>
    <div class="col-xs-10">
      <input class="form-control" name="user_name" type="text" placeholder="MadEyeMoody" id="loginUsername">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-xs-2 col-form-label">Password</label>
    <div class="col-xs-10">
      <input class="form-control" name="password" type="password" placeholder="Password" id="example-text-input">
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-default addUser">Submit</button>
      </div>
</form>
<footer class='footer footer-custom text-center'>
  Moody Music
    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016
  </nav>
</footer>
{% endblock %}
