{% extends "_base.html" %} {% block title %}{% endblock %} {% block css %}
<link rel="stylesheet" href="/css/user.css"> {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 userRow">
            <h2>{{welcome}}</h2>
            <table class="table table-striped header-fixed">
                <thead>
                    <tr>
                        <th>
                          <h3>Song Played</h3>
                        </th>
                        <th>
                          <h3>Song Artist</h3>
                        </th>
                        <th>
                          <h3>Song Image</h3>
                        </th>
                        <th>
                          <h3>Sentiment Rating</h3>
                        </th>
                        <th>
                          <h3>Delete?</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for song in songs%}
                    <tr>
                        <td class="filterable-cell">
                          <h4>{{song.song_name}}</h4>
                        </td>
                        <td class="filterable-cell">
                          <h4>{{song.song_artist}}</h4>
                        </td>
                        <td class="filterable-cell">
                          <img src={{song.song_img}} alt="song_img" class="songImg" />
                        </td>
                        <td class="filterable-cell">
                          <h4>{{song.sentiment_rating}}</h4>
                        </td>
                        <td class="filterable-cell">
                          <div class="delete">
                            <button class="btn btn-lg btn-danger delete-btn" data-id={{song.uuid}} id="deleteSong">&#x2716;
                            </button>
                          </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/js/deleteSongFromUser.js"></script>
{% endblock %}
